config = {
    #model configurations
    'batch_size':16,
    'max_seq_length':1000,
    'lr':1e-8,
    'label_count':2,
    'n_heads': 5,
    'dropout_prob': 1/50,
    'hidden_size':768,
    'encoder_layer_cnt':3,
    'hidden_size_2': 16,

    #embeddings configurations
    'pretrained_embeddings':embs_npa,
    'freeze_embeddings':True,
    'vocab':vocab_npa,
    'pad_token':'<pad>',
    'unk_token':'<unk>',

    #data
    'train_df': df, #TODO: set val and test to appropriate
    'val_df': df,
    'test_df': df,
}